@using Microsoft.Ajax.Utilities
@using Vereyon.Web
@model BH.Models.PublicViewModel
<div class="bg-light-2 pt-6 pb-6 featured">
    <div class="container-fluid">
        <div class="heading heading-center mb-3">
            <h2 class="title">FEATURED PRODUCTS</h2><!-- End .title -->
            <ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="featured-women-link" data-toggle="tab" href="#featured-women-tab" role="tab" aria-controls="featured-women-tab" aria-selected="true">Womens Clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="featured-men-link" data-toggle="tab" href="#featured-men-tab" role="tab" aria-controls="featured-men-tab" aria-selected="false">Mens Clothing</a>
                </li>
            </ul>
        </div><!-- End .heading -->
        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="featured-women-tab" role="tabpanel" aria-labelledby="featured-women-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>

                    @foreach (var item in Model.FeturedProductList)
                    {
                        if (item.CategoriesID == 1)
                        {
                            @Html.HiddenFor(model =>item.ProductID, new { @class = "myclass" ,id = "productId" })
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                    <a href="/Product/Index/@item.ProductID">
                                        <img src="@item.ProductImage" alt="Product image" class="product-image">
                                        <img src="@item.ProductImage" alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="~/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    </div><!-- End .product-action-vertical -->
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" id="btnAddRecord"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">@item.ProductName</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        @item.ProductPrice
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 2 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        }
                    }

                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane p-0 fade" id="featured-men-tab" role="tabpanel" aria-labelledby="featured-men-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                     data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":1
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":5,
                                            "nav": true
                                        }
                                    }
                                }'>
                    @foreach (var item in Model.FeturedProductList)
                    {

                        if (item.CategoriesID == 2)
                        {
                          
                          
                            @Html.HiddenFor(model =>item.ProductID, new { @class = "myclass" ,id = "productId" })
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                    <a href="/Product/Index/@item.ProductID">
                                        <img src="@item.ProductImage" alt="Product image" class="product-image">
                                        <img src="@item.ProductImage" alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="~/popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    </div><!-- End .product-action-vertical -->
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" id="btnAddRecord"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->
                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">@item.ProductName</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        @item.ProductPrice
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 2 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        }


                    }

                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->
    </div><!-- End .container-fluid -->
</div><!-- End .bg-light-2 pt-4 pb-4 -->
<script>

    $(document).ready(function () {

        $("#btnAddRecord").on('click', function (e) {

            e.preventDefault();
            var userDetails = {};

            userDetails.productId = $("#productId").val();
            userDetails.poductPrice = $("#txtLastName").val();
            userDetails.poductQuantity = $("#txtLocation").val();

            var jsonData = JSON.stringify({
                userDetails: userDetails
            });

            $.ajax({
                type: "POST",
                url: "Ajax_function/ajax_update.asmx/addNewUser",
                data: jsonData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                error: OnErrorCall
            });

            function OnSuccess(response) {
                var result = response.d;
                if (result == "success") {
                    $("#msg").html("New record addded successfully  :)").css("color", "green");
                }
                $("#txtFirstName").val("");
                $("#txtLastName").val("");
                $("#txtLocation").val("");
            }

            function OnErrorCall(response) {
                $("#msg").html("Error occurs  :(").css("color", "red");
            }

        });

    });

</script>