@model BH.Models.PublicViewModel
<div class="products" >
    <div class="row justify-content">
        @foreach (var arrival in Model.NewArrivalList)
        {

            if (arrival != null && arrival.Discounts != 0 )
            {
                int percentComplete = (int)Math.Round((double)(@arrival.Discounts * @arrival.ProductPrice) / 100);
                int newprice = @arrival.ProductPrice - percentComplete;
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-sale">Sale</span>
                            <a href="/Product/Index/@arrival.ProductID">
                                <img src="@arrival.ProductImage" alt="Product image" class="product-image">
                                <img src="@arrival.ProductImage" alt="Product image" class="product-image-hover">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">@arrival.ProductName</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">@arrival.ProductDescription</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">@newprice</span>
                                <span class="old-price">@arrival.ProductPrice</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-2 -->
            }
            else
            {
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <span class="product-label label-sale">Sale</span>
                            <a href="/Product/Index/@arrival.ProductID">
                                <img src="@arrival.ProductImage" alt="Product image" class="product-image">
                                <img src="@arrival.ProductImage" alt="Product image" class="product-image-hover">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            </div><!-- End .product-action-vertical -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->
                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">@arrival.ProductName</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">@arrival.ProductDescription</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">@arrival.ProductPrice</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div>
                <!-- End .col-sm-6 col-md-4 col-lg-2 -->  

            }
            
            
        }


    </div><!-- End .row -->
</div><!-- End .products -->
