@model BH.Models.PublicViewModel
<div class="tab-pane p-0 fade show active" @*id="trending-all-tab"*@ role="tabpanel" aria-labelledby="trending-all-link">
    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
         data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
        @foreach (var trending in Model.TrendingList)
        {

            <div class="product product-7 text-center">
                <figure class="product-media">
                    <a href="/Product/Index/@trending.ProductID">
                        <img src="@trending.ProductImage" alt="Product image" class="product-image">
                        <img src="@trending.ProductImage" alt="Product image" class="product-image-hover">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    </div><!-- End .product-action-vertical -->
                    <div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->
                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">@trending.ProductName</a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="product.html">@trending.ProductDescription</a></h3><!-- End .product-title -->

                    @if (trending != null && trending.Discounts != 0)
                    {
                        int percentComplete = (int)Math.Round((double)(@trending.Discounts * @trending.ProductPrice) / 100);
                        int newprice = @trending.ProductPrice - percentComplete;
                        <div class="product-price">
                            <span class="new-price">@newprice</span>
                            <span class="old-price">@trending.ProductPrice</span>
                        </div><!-- End .product-price -->
                    }
                    else
                    {
                        <div class="product-price">
                            <span class="old-price">@trending.ProductPrice</span>
                        </div><!-- End .product-price --> 
                    }


                    <div class="product-nav product-nav-thumbs">
                        <a href="#" class="active">
                            <img src="@trending.ProductImage" alt="product desc">
                        </a>
                        <a href="#">
                            <img src="@trending.ProductImage" alt="product desc">
                        </a>
                        <a href="#">
                            <img src="@trending.ProductImage" alt="product desc">
                        </a>
                    </div><!-- End .product-nav -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        }




    </div><!-- End .owl-carousel -->
</div><!-- .End .tab-pane -->