@model BH.Models.PublicViewModel
<div class="col-sm-12 col-md-8 col-lg-6">
    <div class="deal-content text-center">
        <h4>Limited quantities. </h4>
        <h2>Deal of the Day</h2>
        <div class="deal">
            <p>@Model.Deal1.StartingTime</p> to
            <p> @Model.Deal1.EndingTime</p>
        </div><!-- End .deal-countdown -->
    </div><!-- End .deal-content -->
<div class="row deal-products">
    @foreach (var deal in Model.DealList)
    {
       
            <div class="col-6 deal-product text-center">
                <figure class="product-media">
                    <a href="/Product/Index/@Model.Product.ProductID">
                        <img src="@Model.Product.ProductImage" alt="Product image" class="product-image">
                    </a>
                </figure><!-- End .product-media -->
                <div class="product-body">
                    <h3 class="product-title"><a href="/Product/Index/@Model.Product.ProductID">@Model.Product.ProductName</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        <span class="new-price">@deal.NewPrice</span>
                        <span class="old-price">@Model.Product.ProductPrice</span>
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
                <a href="category.html" class="action">shop now</a>
            </div>

       
    }
</div>

</div><!-- End .col-lg-5 -->
