@model BH.Models.PublicViewModel
<h1> Product </h1>
<p>@Model.Product.ProductID</p>
<p>@Model.Product.ProductName</p>
<p>@Model.Product.ProductFullDescription</p>
<p>@Model.Product.ProductPrice</p>
<p>@Model.Product.ProductTypeID</p>

